.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 148px;
    height: 297px;
    background-color: #f3f7fc;
  }

.lafatmaingif { /* gif file */
  width: 100%;
  margin: 0;
}

.turquoisestar{
  width: 30%;
  margin: 0;
  animation: dance 1s infinite reverse;
}

.bluestar{
  width: 30%;
  margin: 0;
  animation: dance 1s infinite;
}

.lafatbook {
  width: 60%;
  margin: 0;
}

@keyframes dance {
  0% {
    rotate: -6deg;
  }
  49% {
    rotate: -6deg;
  }
  50% {
    rotate: 6deg;
  }
  99% {
    rotate: 6deg;
  }
}