:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.3;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  animation: bgcolorchange 75s infinite;
}

@keyframes bgcolorchange {
    25% { background-color: red; } 
    50% { background-color: yellow; } 
    75% { background-color: rgb(70, 70, 255); }
    100% { background-color: white; } 
}

#arrowsvg {
  margin-top: 111px;
  animation: bounce2 2s ease infinite;
  height: 54px;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: 600;
  margin: 0;
}

h2 {
  font-weight: 400;
}

h2:hover {
  background-color: black;
  color: white;
  border-color: black;
  cursor: default;
}

h3 {
  font-weight: 400;
  margin: 0;
}

p, h2, div {
  border-width: 2px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 105vh;
}

section p {
  font-size: 1rem;
}

#page1 h1 {
  font-size: 1.7rem;
  margin-top: 3rem;
}

#page1 h2 {
  border-style: solid;
  padding: 1rem;
  border-radius: 50px;
  width: 80%;
  max-width: 385px;
  font-weight: 600;
  margin-top: 5rem;
}

#page2 p,
#page3 p {
  width: 323px;
  margin: 0;
}

#page2 h1{
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 1px;
}

#page2 h2 {
  border-style: solid;
  border-radius: 50px;
  width: 319px;
  font-size: 2rem;
  padding: 0.3rem;
  margin: 1rem;
}

#page2 h3{
  margin-top: 3rem;
  font-weight: 600;
}

#page3 h2 {
  border-style: solid;
  padding: 0.3rem;
  border-radius: 50px;
  font-size: 2rem;
  margin-top: 4rem;
}

.bannerpage {
  height: 100vh;
  margin-top: 3rem;
}

#page3 {
  height: 70vh;
}

#page7-podcast{
  margin-bottom: 5rem;
}

.profile-pic {
  display: flex;
  width: 131px;
  height: 131px;
  background-color: blue;
  margin-bottom: 1rem;
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
}

#contacto-title {
  width: 194px;
}

#habilidades-title {
  width: 256px;
}

#techicons>* {
  width: 43px;
  margin-left: 1rem;
  margin-top: 1.5rem;
}

.project-title {
  border-style: solid;
  padding: 1rem;
  border-radius: 50px;
  width: 320px;
  margin: 0;
  margin-bottom: 1rem;
}

.project-credits {
  border-style: solid;
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 50px;
  width: 320px;
  font-size: 20px;
  margin-bottom: 1rem;
}

.banner-main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  align-items: center;
}

.banner-container-columns {
  display: flex;
  justify-content: center;
  width: 100%;
}

.banner-container-column2 {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.banner1 {
  width: 339px;
  height: 87px;
  margin-left: 7px;
  position: relative;
}

.banner3 {
  width: 148px;
  height: 297px;
  margin: 8px 0px 0px 8px;
}

.banner5 {
  width: 175px;
  height: 146px;
  margin: 8px 0px 0px 8px;
}

.mobile-mockup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 126px;
  margin: 19px 0px 0px 8px;
}

.mobile-mockup img {
  width: 100%;
  height: auto;
  margin-left: 1rem;
}

@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


h1, h2, h3, p, div, svg {
  animation: fade-in-left 2s ease ;
} 

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
