.banner5 {
  display: flex;
  justify-content: end;
  width: 175px;
  height: 146px;
  background-color: white;
  position: relative;
  }

svg {
  height: 100%;
  width: 100%;
}

#coilabslogo5 {
  max-height: 50%;
  z-index: 1;
  margin-top: 1.8rem;
}

#smalltext {
  max-width: 46%;
  position: absolute;
  z-index: 1;
  margin-right: 7px;
  margin-top: 5px;
}

#spiral {
  width: 110px;
  position: absolute;
  right: 0;
  z-index: 0;
}



