.banner {
  display: flex;
  justify-content: end;
  width: 148px;
  height: 297px;
  background-color: white;
  position: relative;
  }

svg {
  height: 100%;
}

#logocontainer {
  display: flex;
  justify-content: start;
  align-items: start;
  position: absolute;
  width: 105.03px;
  margin-left: 0.7rem;
  margin-top: -0.7rem;
  z-index: 1;
  padding: 0;
}

#coilabslogo3 {
  max-height: 80%;
  z-index: 1;
  margin-top: 1.8rem;
}

#smalltext {
  max-width: 46%;
  position: absolute;
  z-index: 1;
  margin-right: 7px;
  margin-top: 5px;
}

#spiral {
  width: 110px;
  position: absolute;
  right: 0;
  z-index: 0;
}



