.banner5 {
  display: flex;
  justify-content: end;
  align-items: start;
  width: 175px;
  height: 146px;
  background-color: white;
  position: relative;
  }

svg {
  height: 100%;
  width: 100%;
}

#logocontainer {
  display: flex;
  justify-content: start;
  align-items: start;
  position: absolute;
  width: 146px;
  height: auto;
  margin-top: 55px;
  margin-left: 10px;
  z-index: 1;
}

#smalltext {
  max-width: 60px;
  max-height: 80px;
  position: absolute;
  z-index: 1;
  margin-right: 15px;
  margin-top: 15px;
}

#spiral {
  width: 110px;
  position: absolute;
  right: 0;
  z-index: 0;
}



