.banner {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 339px;
    height: 87px;
    background-color: white;
    position: relative;
  }

#coilabslogo {
  max-width: 90%;
  margin-left: 0.3rem;
  z-index: 1;
}

#smalltext {
  max-width: 80%;
  margin-left: 0.3rem;
  position: absolute;
  z-index: 1;
}

#spiral {
  width: 87px;
  position: absolute;
  right: 0;
  z-index: 0;
}
